<%- include('../header.ejs')%><br><br>
<section class="cmspage mtb-40">
    <div class="container">
      <div class="page-desc">
        <div class="row justify-content-center">
          <div class="col-md-5">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581.5132865234877!2d78.18583691495363!3d26.147407983463186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c4964532abdd%3A0xe71fa0450b77e0a5!2sITM%20Gwalior!5e0!3m2!1sen!2sin!4v1677698970871!5m2!1sen!2sin" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" 
          </div>
          <div class="col-md-7">
            <h1 class="text-black">Contact</h1> 
            <form action="/contactinsert"method="post" enctype="multipart/form-data">
              <div class="mb-3">
                <input type="text" name="name" class="form-control" placeholder="Name">
              </div>
              <div class="mb-3">
                <input type="text" name="email" class="form-control" placeholder="E-Mail">
              </div>
              <div class="mb-3">
                <input type="text" name="phone" class="form-control" placeholder="Phone">
              </div>
              <div class="mb-3">
                <textarea name="message" rows="5" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-success text-black">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
<%- include('../footer.ejs')%>