<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>login portal</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--font awesome link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body style="background-color: #9DC08B;"onload="myfunction()">
    <!-- navbar start -->
<nav class="navbar navbar-expand-md navbar-dark bg-blue sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img src="/image/logo.png" alt="failed">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/login" class="nav-link">logout</a>
            </li>
            <!-- <li class="nav-item">
              <a href="/profile" class="nav-link">profile</a>
            </li> -->
            <li class="nav-item">
           <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#passprof"><%=n%></a>
            </li>
            <img src="<%=i.url%>" width="60px"height="60px" class="pimg">
        </ul>
      </div>
      </div>
</nav>
<div class="modal fade" id="passprof" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change password and profile update</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form method="post" action="/changepassword"enctype="multipart/form-data">
                <div class="form-group form-row">
                    <label class="col-md-3 required">Change password</label>
                    <div class="col-md-9">
                        <a href="/profile"class="btn btn-primary" > change password</a>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-md-3 required">update profile</label>
                    <div class="col-md-9">
                      <a href="/profile" class="btn btn-primary" > update profile</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>           
</div>

<!-- navbar end -->
</body>

</html>