*{
    margin: 0px;
    padding: 0px;
}
.gradient-custom-2{
    background-image: url(../image/login.jpeg);
}
.gradient-form {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #EDF1D6, #9DC08B, #609966, #40513B);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #EDF1D6, #9DC08B, #609966, #40513B);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .card{
        box-shadow: 5px 5px 19px black;
    }
    