<%- include('../../header.ejs')%>
    <div class="container-fluid">
        <div class="container">
            <div class="row">

                <h1 class="text-center">BBA Registration Form</h1>
                <h3 class="text-center">Do Register Fast!!</h3>
                <p class="text-center bg-info">In Case Any Query, Kindly Contact: 9399892162</p>


                <div class="col-md-5">
                    <img src="/image/form.jpeg"width="100%"height="700px">
                </div>
                    <div class="col-md-7">
                        <p class="h2 text-center">Form</p>
                        <form action="/forminsert" method="post" enctype="multipart/form-data">

                            <div class="form-group mb-3">
                                <label>Full Name:</label>
                                <input class="form-control" type="text" name="name" value="<%=n%>" required
                                    placeholder="Enter Your Full Name" />
                                <span class="Error"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label>Email:</label>
                                <input class="form-control" type="email" name="email"value="<%=e%>" required
                                    placeholder="Enter Your Email" />
                                <span class="Error"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label>Enter Mobile Number:</label>
                                <input class="form-control" type="number" name="phone" required
                                    placeholder="Enter Mobile Number" />
                                <span class="Error"></span>
                            </div>
                            <div class="form-group mb-3">
                            <label>Gender:</label><br />
                            <label><input type="radio" name="gender" required value="Male"  /> Male</label>
                            <label><input type="radio" name="gender" required value="Female" /> Female</label>
                            <label><input type="radio" name="gender" required value="Other" /> Other</label>
                            <span class="Error"></span>
                        </div>
                            <div class="form-group mb-3">
                                <label>D.O.B:</label>
                                <input class="form-control" type="date" name="date" required
                                    placeholder="Enter Birth Date" />
                                <span class="Error"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label>Address:</label>
                                <textarea class="form-control"name="address"></textarea>
                                <span class="Error"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label>Select College:</label>
                                <select class="form-control" name="college">
                                    <option selected=""> Select College</option>
                                    <option>ITM</option>
                                    <option>MITS</option>
                                    <option>RJIT</option>
                                    <option>IPS</option>
                                </select>
                            </div> 
                            <div class="form-group mb-3">
                                <label>Select Course:</label>
                                <select class="form-control" name="course">
                                    <option selected=""> Select Course</option>
                                    <option>BBA</option>
                                </select>
                            </div>
                             <div class="form-group mb-3">
                                <label>Select Branch:</label>
                                <select class="form-control" name="branch">
                                    <option selected=""> Select Branch</option>
                                    <option>CSE</option>
                                    <option>IT</option>
                                    <option>EC</option>
                                    <option>ME</option>
                                    <option>CE</option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<%- include('../../footer.ejs')%>